<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le Grand CSS -->
    <link href="~/Content/Template/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Template/css/bootstrap-extend.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Template/css/flexslider.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Template/css/style.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Template/css/animate.min.css" rel="stylesheet" media="screen" />
</head>
<body id="to_the_top">
    <!-- **************************************** Template Body Starts **************************************** -->
    <div class="sourrounding_all  on_frontpage ">
        <!-- **************************************** Template Body Starts **************************************** -->
        <!-- **************************************** Navbar Area Starts **************************************** -->
        <div class="joobstrab_area navbar_area">
            <!-- ### NAVBAR_CENTER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="navbar_center">
                <div class="inner_wrapper">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <!-- Logo-->
                                        <a class="navbar-brand logo_text" href="#to_the_top"><h1><i class="icon-desktop"></i> Emberlabs</h1></a>
                                    </div>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="main_nav navbar-collapse navbar-ex1-collapse collapse">
                                        <ul class="navigation menu">
                                            <li class="active"><a href="#header_top">Home</a></li>

                                            @*<li><a href="#header_top">Home</a></li>*@
                                            <li><a href="#top_center">About Us</a></li>
                                            <li><a href="#main_top">Customers</a></li>
                                            <li><a href="#main_center">Benefits</a></li>
                                            <li><a href="#footer_center">@*<i class="icon-external-link"></i>*@Contact Us</a></li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- ### NAVBAR_CENTER Module Position Section End ### -->

        </div>
        <!-- **************************************** Navbar Area Ends **************************************** -->
        <!-- **************************************** Header Area Starts **************************************** -->
        <div class="joobstrab_area header_area">

            <!-- ### HEADER_TOP Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="header_top">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 moduletable text-center  animated fadeIn">
                                <h2>@ViewBag.Tagline</h2>
                                <a href="#footer_center" class="btn btn-lg btn-info"><i class="icon-ok-circle"></i> Do you want to work with us?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### HEADER_TOP Module Position Section End ### -->
            <!-- ### HEADER_SLIDER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="header_slider">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 slider_controls">
                                <div class="flexslider">
                                    <ul class="slides text-center">
                                        <!-- Slide 1 -->
                                        <li class="slider_item">
                                            <div class="col-md-8 col-md-offset-2">
                                                <img src="~/Content/Template/img/laptop.png" alt="laptop" class="img-responsive animated rollIn" style="padding:40px 0 0 0;">
                                                <small>This is slide one</small>
                                            </div>
                                        </li>
                                        <!-- Slide 2 -->
                                        <li class="slider_item">
                                            <div class="col-md-8 col-md-offset-2">
                                                <img src="~/Content/Template/img/laptop.png" alt="laptop" class="img-responsive animated rotateInUpRight" style="padding:40px 0 0 0;">
                                                <small>This is slide two</small>
                                            </div>
                                        </li>
                                        <!-- Slide 3 -->
                                        <li class="slider_item">
                                            <div class="col-md-8 col-md-offset-2">
                                                <img src="~/Content/Template/img/laptop.png" alt="laptop" class="img-responsive animated slideInRight" style="padding:40px 0 0 0;">
                                                <small>This is slide one</small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### HEADER_SLIDER Module Position Section End ### -->

        </div>
        <!-- **************************************** HEADER Area Ends **************************************** -->
        <!-- **************************************** TOP Area Starts **************************************** -->
        <div class="joobstrab_area top_area">

            <!-- ### TOP_CENTER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="top_center">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 moduletable text-center">
                                <h4><i class="icon-desktop"></i><br />Welcome to EMBERLABS</h4>

                                <p>
                                    We are an IT consulting company that specializes in small business support. We support our clients through managed care
                                    and personalized customer service.
                                </p>

                                <p>Our goal is to give outstanding customer service while giving you the best technical support.</p>



                                <p><em>888-890-0201</em></p>
                                <p>info@emberlabs.com</p>

                            </div>

                            <div class="col-md-4 moduletable text-center">


                                <h4><i class="glyphicon-wrench"></i><br />Benefit from our experience</h4>
                                <p>

                                    EMBERLABS has over 10 years of experience in managing and supporting IT networks for small businesses. We are experienced with
                                    Windows and Macintosh platforms. Many industries have applications specific to their industry and EMBERLABS is very knowledgeable
                                    with a large number of them. If we are not familiar, we will either partner with a software expert or learn the technology so we can support it.

                                </p>
                            </div>

                            <div class="col-md-4 moduletable text-center">

                                <h4><i class="icon-coffee"></i><br />Get peace of mind</h4>
                                <p>We cover security, back-up, and disaster strategies.</p>
                                <p>
                                    No matter what type of business, there are specific technologies that we recommend to all clients. For example, we recommend that all companies implement
                                    IT security strategies to protect the network, data and users. Most companies implement backup solutions as part of the security strategy, but
                                    many do not have a disaster recovery plan to follow in the event of a major issue or natural disaster.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### TOP_CENTER Module Position Section End ### -->

        </div>
        <!-- **************************************** TOP Area Ends **************************************** -->
        <!-- **************************************** MAIN Area Starts **************************************** -->
        <div class="joobstrab_area main_area">

            <!-- ### MAIN_TOP Module Position Section Start ### -->
            @RenderBody()
            @*<div class="joobstrap_section sourrounding_wrapper" id="main_top">
                <div class="inner_wrapper">
                <div class="container">
                <div class="row">
                <div class="col-md-3"><img class="img-circle img-responsive" src="img/young_women.jpg" style="margin-top:40px;" alt="young woman"></div>
                <div class="col-md-9 text-left">
                <h2 class="module-title"><span>What</span> our customers say</h2>
                <h5 class="huge">Nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h5>
                <hr />	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.<br> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Nonummy nibh euismod tincidunt ut laoreet.</p>
                <p><strong>- By Jane Doe</strong></p>

                </div>
                </div>
                </div>
                </div>
                </div>*@
            <!-- ### MAIN_TOP Module Position Section End ### -->
            <!-- ### MAIN_CENTER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="main_center">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-md-4 main_left">
                                <h4 class="module-title"><span>We help</span>  you decide</h4>
                                <img src="~/Content/Template/img/sample_content6.jpg" alt="content image" class="img-responsive" />
                                <p class="lead">Deciding on which technology (hardware, software or service) to incorporate into your business can be a daunting task. </p>
                                <p>
                                    Manufacturers and vendors may hype their technology as a must have in
                                    order to run your business effectively. Friends or peers are more than happy to advise you on the best storage device, PDA, wireless access
                                    point or CRM solution.
                                </p>
                                @*<a href="#" class="btn btn-sm btn-info"><i class="icon-external-link"></i> Read more</a>*@
                                <hr />
                            </div>
                            <!-- Left Column End-->
                            <!-- Central Column -->
                            <div class="col-md-4 main_center">

                                <h4 class="module-title"><span>We help</span> you benefit</h4>
                                <img src="~/Content/Template/img/sample_content7.jpg" alt="content image" class="img-responsive" />
                                <p class="lead">Emerging technologies are always intriguing.</p>
                                <p>
                                    In general, small businesses are slower to adopt emerging technologies. However, some companies are
                                    forced to implement earlier than they would like because of vendor, supplier or partner needs. We’ll help you choose the right
                                    timing or handle sudden changes.

                                </p>
                                @*<a href="#" class="btn btn-sm btn-info"><i class="icon-external-link"></i> Read more</a>*@
                                <hr />
                            </div>
                            <!-- Central Column End -->
                            <!-- Left Column -->
                            <div class="col-md-4 main_left">

                                <h4 class="module-title"><span>Implementing</span> technology</h4>
                                <img src="~/Content/Template/img/sample_content8.jpg" alt="content image" class="img-responsive" />
                                <p class="lead">Where do you start?</p>
                                <p>
                                    How do you determine which technology to implement? How do you separate hype from reality? While it may be obvious, we
                                    have seen small businesses implement new technologies without understanding its impact, associated support and maintenance, or the
                                    real business benefit. You should never implement a new technology for the sake of the technology.

                                </p>
                                @*<a href="#" class="btn btn-sm btn-info"><i class="icon-external-link"></i> Read more</a>*@
                                <hr />
                            </div>
                            <!-- Right Column End-->

                        </div>
                    </div>
                </div>
            </div>
            <!-- ### MAIN_CENTER Module Position Section End ### -->

        </div>
        <!-- **************************************** MAIN Area Ends **************************************** -->
        <!-- **************************************** BOTTOM Area Starts **************************************** -->
        <div class="joobstrab_area bottom_area">

            <!-- ### BOTTOM_CENTER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="bottom_center">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <h4>Understand</h4>
                                <h1 class="huge"> how mobile technologies can boost your business</h1>
                                <p class="lead">
                                    Mobility solutions have become an everyday reality to enable flexible work schedules and enhance productivity while traveling. Connecting remote users and locations can help you expand and grow your company across time zones or geographic boundaries.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### BOTTOM_CENTER Module Position Section End ### -->

        </div>
        <!-- **************************************** BOTTOM Area Ends **************************************** -->
        <!-- **************************************** Footer Area Starts **************************************** -->
        <div class="joobstrab_area footer_area">

            <!-- ### FOOTER_CENTER Module Position Section Start ### -->
            <div class="joobstrap_section sourrounding_wrapper" id="footer_center">
                <div class="inner_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">

                                <h4 class="module-title"><span>Contact Us</span></h4>
                                <img src="~/Content/Template/img/sample_content3.jpg" class="img-responsive pull-left" style="width:50%;margin:10px 10px 10px 0" alt="content image">
                                <p>We're always available</p>
                                <p>Located in the heart of Orange County, in the City of Orange.</p>
                                <p class="lead">714-613-1699</p>
                                <p class="lead">info@emberlabs.com</p>
                                @*@RenderSection("ContactMessage", false)*@
                                @*<form action="#" role="form" method="post" class="contact-form" id="contactform">
                                        <div class="form-group">
                                            <label for="name"><strong>Name</strong> (required)</label>
                                            <input class="form-control" type="text" name="name" id="name" value="" required maxlength="200">
                                        </div>

                                        <div class="form-group">
                                            <label for="email"><strong>Email</strong> (required)</label>
                                            <i class="icon-desktop"></i>
                                            <input class="form-control" type="email" name="email" id="email" value="" placeholder="sample@gmail.com" required maxlength="150">
                                        </div>

                                        <div class="form-group">
                                            <label for="subject"><strong>Subject</strong></label>
                                            <input class="form-control" type="text" name="subject" id="subject" value="" maxlength="200">
                                        </div>

                                        <div class="form-group">
                                            <label for="message"><strong>Message</strong></label>
                                            <textarea class="form-control" name="message" id="message" cols="60" rows="4" maxlength="2000"></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Submit" id="submitbutton" />
                                    </form>*@

                            </div>

                            <div class="col-md-3">
                                <h4 class="module-title"><span>Find</span> us</h4>
                                <img src="~/Content/Template/img/sample_content10.jpg" class="img-responsive pull-left" style="width:50%;margin:10px 10px 10px 0" alt="content image">
                                <p>
                                    We are located near the <a href="http://www.letsgoseeit.com/index/county/ora/orange/loc02/plaza.htm">Orange Plaza</a> near where the 55 and 22 freeways cross. Our address is 224 W. Maple Avenue, Suite B, Orange, CA 92866.
                                </p>
                            </div>

                            <div class="col-md-3">

                                <h4 class="module-title"><span>How EMBERLABS</span> can help</h4>
                                <img src="~/Content/Template/img/sample_content11.jpg" class="img-responsive pull-left" style="width:50%;margin:10px 10px 10px 0" alt="content image">
                                <p>Contact EMBERLABS if you would like assistance in understanding how a new technology can enhance your company’s capabilities...</p>
                            </div>

                            <div class="col-md-3">
                                <h4 class="module-title"><span>We’ll help</span> you decide</h4>
                                <img src="~/Content/Template/img/sample_content12.jpg" class="img-responsive pull-left" style="width:50%;margin:10px 10px 10px 0" alt="content image"><p>Deciding on which technology (hardware, software or service) to incorporate into your business can be a daunting task. Manufacturers and vendors may hype their technology as a
                                must have in order to run your business effectively. Friends or peers are more than happy to advise you on the best storage device, PDA,
                                wireless access point or CRM solution.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### FOOTER_CENTER Module Position Section End ### -->

        </div>
        <!-- **************************************** FOOTER Area Ends **************************************** -->
        <!-- ##################################################### CREDITS AREA STARTS HERE ##################################################### -->
        <div class="joobstrap_section sourrounding_wrapper" id="credits">
            <div class="inner_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 credits_left">
                            <p class="lead"> <a href="/index.html">Emberlabs</a> &copy;  2015</p>
                            <p>
                                <a href="https://wrapbootstrap.com/theme/tomcat-one-page-theme-WB0KH479D">TomCat HTML template</a> &copy;  2013
                                
                            </p>
                        </div>

                        <div class="col-md-6 credits_right">
                            <p class="back_to_the_top text-align-right"><a href="#to_the_top" id="back-top"><i class="icon-circle-arrow-up icon-white"></i> Back to top</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##################################################### CREDITS AREA ENDS HERE ##################################################### -->
    </div>

    <!-- **************************************** Loading the JS stuff **************************************** -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="~/Scripts/jquery.min.js"></script>*@

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Slider scripts-->
    <script src="~/Scripts/flexslider-min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(window).load(function () {
            jQuery('.flexslider').flexslider({
                animation: "fade",
                slideDirection: "horizontal",
                slideshow: true,
                slideshowSpeed: 8000,
                animationDuration: 1000,
                directionNav: true,
                controlNav: true,
                animationLoop: true,
                pauseOnAction: true,
                smoothHeight: true,
                pauseOnHover: true,
                prevText: "<",           //String: Set the text for the "previous" directionNav item
                nextText: ">",               //String: Set the text for the "next" directionNav item

            });
        });
    </script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/sticky.js"></script>
    <script>
        if (document.documentElement.clientWidth >= 980) {
            jQuery(window).load(function () {
                jQuery("#navbar_center").sticky({ topSpacing: 0, className: "sticked", wrapperClassName: "sticked_wrapper" });
            });
        }

        //handle the form submission
        //$(function () {
        //    $('form').submit(function (event) {
        //        alert('submitted');
        //    });

        //});
    </script>
    <!-- Smooth scrolling script -->
    <script type="text/javascript" src="~/Scripts/smoothscroll.min.js"></script>
    <!-- **************************************** Template Body ends **************************************** -->
    @RenderSection("scripts", required: false)
</body>
</html>

